/*
   * Property styles in unhighlighted state.
   */
   .property {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: 25px;
    justify-content: center;
    padding: 3px;
    position: relative;
    position: relative;
    transition: all 0.3s ease-out;
    width: 25px;
  }
  
  .property::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFFFFF;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-out;
    width: 0;
    z-index: 1;
  }
  
  
  
  .property .details {
    display: none;
    flex-direction: column;
    flex: 1;
  }
  
  .property .address {
    color: #9E9E9E;
    font-size: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .property .features {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  .property .features > div {
    align-items: center;
    background: #F5F5F5;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: flex;
    font-size: 10px;
    gap: 5px;
    padding: 5px;
  }
  
  /*
   * Property styles in highlighted state.
   */
  .property.highlight {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 80px;
    padding: 8px 15px;
    width: auto;
  }
  
  .property.highlight::after {
    border-top: 9px solid #FFFFFF;
  }
  
  .property.highlight .details {
    display: flex;
  }
  
  .property.highlight .icon svg {
    width: 50px;
    height: 50px;
  }
  
  .property .rating {
    color: #FFA000;
  }
  
  .property .review {
    color: #03A9F4;
  }
  
  .property .name {
    color: #388E3C;
  }
  
  /*
   * hotel icon colors.
   */
  .property.highlight:has(.fa-hotel) .icon {
    color: var(--hotel-color);
  }
  
  .property:not(.highlight):has(.fa-hotel) {
    background-color: var(--hotel-color);
  }
  
  .property:not(.highlight):has(.fa-hotel)::after {
    border-top: 9px solid var(--hotel-color);
  }
  
  /*
   * building icon colors.
   */
  .property.highlight:has(.fa-building) .icon {
    color: var(--building-color);
  }
  
  .property:not(.highlight):has(.fa-building) {
    background-color: var(--building-color);
  }
  
  .property:not(.highlight):has(.fa-building)::after {
    border-top: 9px solid var(--building-color);
  }
  
  /*
   * Shop icon colors.
   */
  .property.highlight:has(.fa-shop) .icon {
    color: var(--shop-color);
  }
  
  .property:not(.highlight):has(.fa-shop) {
    background-color: var(--shop-color);
  }
  
  .property:not(.highlight):has(.fa-shop)::after {
    border-top: 9px solid var(--shop-color);
  }

    /*
   * ev icon colors.
   */
   .property.highlight:has(.fa-ev) .icon {
    color: var(--ev-color);
  }
  
  .property:not(.highlight):has(.fa-ev) {
    background-color: var(--ev-color);
  }
  
  .property:not(.highlight):has(.fa-ev)::after {
    border-top: 9px solid var(--ev-color);
  }

    /*
   * bicycle icon colors.
   */
   .property.highlight:has(.fa-bicycle) .icon {
    color: var(--bicycle-color);
  }
  
  .property:not(.highlight):has(.fa-bicycle) {
    background-color: var(--bicycle-color);
  }
  
  .property:not(.highlight):has(.fa-bicycle)::after {
    border-top: 9px solid var(--bicycle-color);
  }